* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

:root {
  --color-light: lightgray;
  --color-dark: darkgray;
}

.container {
	align-items: center;
	display: flex;
	gap: 20px;
	justify-content: center;
	min-height: 100vh;
	padding: 40px 20px;
}

.circle {
	animation: animate 2s alternate infinite;
	background-color: var(--color-dark);
	border-radius: 50%;
	flex-basis: 40px;
	height: 40px;
}

@keyframes animate {
	0% {transform: scale(1); background-color: var(--color-dark);}
	50% {transform: scale(1.1); background-color: var(--color-light);}
}
